/* app css stylesheet */
body {
	padding: 20px;
	font-family: 'Supermercado One', 'cursive';
}

.jslider-value,.jslider-label {
	font-family: 'Supermercado One', 'cursive';
	font-size: 0.6em !important;
}

.borderblock,table,.title {
	width: 70%;
	margin: auto;
}

.wrapper {
	width: 100%;
	margin: auto;
	padding-bottom: 40px;
}

.title {
	font-family: 'Righteous', 'cursive';
	font-size: 4.5em;
	position: relative;
	top: 20px;
	transform: skewX(20deg);
	-webkit-transform: skewX(20deg);
}

.borderblock {
	border: 15px solid;
	padding: 30px;
}

table {
	font-size: 1.6em;
	width: 100%;
}

td:hover, .buttonswrapper > div:hover {
	text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.28);
}

td.orderby {
	cursor: pointer;	
}

.sliderwrapper > div{
	padding: 30px;	
}

.sliderwrapper > span {
	
	display:block;
	font-size:1.3em;
	padding: 0px;	
}

.sliderwrapper, .buttonswrapper{
	float: left;
	width: 50%;
	
}

.buttonswrapper > div {
	font-family: 'Righteous', 'cursive';
	font-size: 1.5em;	
	cursor: pointer;
	text-transform: uppercase;
	float:left;
	width:30%;
	margin:10px;
	padding: 20px;
	border: 7px solid;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;	
}

.buttonswrapper > div:active {
	background-color: black;
	color:white;	
}


