<!doctype html>
<html lang="en" ng-app="eplApp">
<head>
  <meta charset="utf-8">
  <title>Premier League Table</title>
  
  
</head>
<body ng-controller="TableCtrl">


  <table id="table1">
  <tr class="tableheader">
  <td>Pos</td>
  <td>Club</td>
  <td>Wins</td>
  <td>Draws</td>
<td>Losses</td>
<td>Points</td>
</tr>
<tr ng-repeat="club in table | orderBy:'-pts'">
  <td>{{$index + 1}}</td>
  <td>{{club.name}}</td>
  <td>{{club.wins}}</td>
  <td>{{club.draws}}</td>
<td>{{club.losses}}</td>
<td>{{club.pts}}</td>
</tr>

</table>

<div class="sliders">
<input ng-model="value"  type="text" id="mySlider1" slider options="options" />
</div>
<br />
<input class="btn-primary" ng-click="regen()" type="submit" value="Re-generate">

  


<script type="text/javascript" src="lib/angular/angular.js"></script>	
<script type="text/javascript" src="lib/angular/angular-sanitize.js"></script>	
<script type="text/javascript" src="lib/angular/angular-mocks.js"></script>	
<script type="text/javascript" src="lib/jquery/jquery.js"></script>	
<script type="text/javascript" src="lib/ng-slider/ng-slider.js"></script>


<script type="text/javascript" src="js/controllers.js"></script>
<script type="text/javascript" src="js/services.js"></script>

<link rel="stylesheet" href="css/ng-slider.css">


<link rel="stylesheet" href="css/app.css">
<link rel="stylesheet" href="css/bootstrap.css">

  
</body>
</html>
