<!doctype html>
<html lang="en" ng-app="eplApp">
<head>
  <meta charset="utf-8">
  <title>Premier League Table</title>
  <link rel="stylesheet" href="css/ng-slider.css">
<link rel="stylesheet" href="css/app.css">
<link rel="stylesheet" href="css/bootstrap.css">
  
  
</head>
<body ng-controller="TableCtrl">

<div class="borderblock">
<div class="wrapper">
<div class="slider">
<input ng-model="value"  type="text" id="mySlider" slider options="options" /></div>
<div class="butt">
<input class="btn-primary" ng-click="regen()" type="submit" value="Re-generate"></div>
</div>
<canvas id="canvasimagefactory" width="50" height="50" style="display:none"></canvas>
   <img ng-src="{{image}}"/>

  <table id="table1">
  <tr class="tableheader">
  <td>Pos</td>
  <td>Club</td>
  <td>Wins</td>
  <td>Draws</td>
<td>Losses</td>
<td>Points</td>
</tr>
<tr ng-repeat="club in table | orderBy:'-pts'">
<!-- <td><shirt name="{{club.name}}"></shirt></td> -->
  <td>{{$index + 1}}</td>
  <td>{{club.name}}</td>
  <td>{{club.wins}}</td>
  <td>{{club.draws}}</td>
<td>{{club.losses}}</td>
<td>{{club.pts}}</td>
</tr>

</table>
</div>


<script type="text/javascript" src="lib/angular/angular.js"></script>	
<script type="text/javascript" src="lib/angular/angular-sanitize.js"></script>	
<script type="text/javascript" src="lib/angular/angular-mocks.js"></script>	
<script type="text/javascript" src="lib/jquery/jquery.js"></script>	
<script type="text/javascript" src="lib/ng-slider/ng-slider.js"></script>


<script type="text/javascript" src="js/controllers.js"></script>
<script type="text/javascript" src="js/services.js"></script>



  
</body>
</html>
